.accordion-content {
    padding: 1rem;
    background-color: _palette(bg-alt);
    border-radius: 0.25rem;
  }
/*
.webdev-content {
      padding: 1rem;
      background-color: _palette(bg-alt);
      border-radius: 0.25rem;
  }
.automation-content {
      padding: 1rem;
      background-color: _palette(bg-alt);
      border-radius: 0.25rem;
  }

.hosting-content {
      padding: 1rem;
      background-color: _palette(bg-alt);
      border-radius: 0.25rem;
  }
    */